<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>プレイリスト一覧</title>

    <!-- Custom fonts for this template-->
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <li class="nav-item">
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                    <div class="sidebar-brand-text mx-3">タイトル</div>
                </a>
            </li>
            <li>
                <hr class="sidebar-divider">
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/playlists/">
                    <span>プレイリスト一覧</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/playlists/new">
                    <span>プレイリスト登録</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/video/create">
                    <span>動画登録</span>
                </a>
            </li>
        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- 検索窓 -->
            <div class="search-div">
                <form class="search" th:action="@{/search/process}" th:object="${searchForm}" method="post">
                    <input type="text" id="query" th:field="*{query}" autofocus="autofocus">
                    <input type="submit" value="検索">
                </form>
            </div>

            <!-- Main Content -->
            <div id="content">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mt-4 text-gray-800">プレイリスト一覧</h1>

                    <div class="row">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <tbody>
                                <tr th:each="playlist:${playlists}">
                                    <!-- リンク -->
                                    <td>
                                        <a th:href="@{/playlists/{id}/videos/ (id=${playlist.id})}">[[ ${playlist.name}
                                            ]]</a>
                                    </td>

                                    <!-- 削除 -->
                                    <td>
                                        <form th:action="@{/playlists/delete/{id} (id=${playlist.id})}" method="post">
                                            <input type="submit" value="削除" class="btn btn-danger">
                                        </form>
                                    </td>
                                </tr>
                            </tbody>

                        </table>


                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; 〇〇〇〇 2022</span>
                            <a href="https://github.com/StartBootstrap/startbootstrap-sb-admin-2">Powered by SB Admin
                                2</a>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Bootstrap core JavaScript-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>

        <!-- Custom scripts for all pages-->
        <script src="/js/sb-admin-2.min.js"></script>

</body>

</html>